$main-font-family: "PT Sans", "Arial", sans-serif;
$bold-font-family: "PT Sans Bold", "Arial", sans-serif;
$h-text-transform: uppercase;
$text-transform: uppercase;
$label-text-transform: none;
$btn-text-transform: uppercase;
$photo-h-transform: uppercase;
$photo-text-transform: none;

$main-background: #fff;
$btn-background: #81b3d2;
$text-background: #81b3d2;
$input-background: #f2f2f2;
$h-line-color: #e5e5e5;
$main-color: #333;
$h-color: #000;
$btn-color: #fff;
$text-color: #fff;