$mobile-padding: 0 20px;
$tablet-padding: 0 60px;
$desktop-padding: 0 120px;

$h-table-font-size: 21px;
$h-text-transform: uppercase;
$text-transform: uppercase;
$label-text-transform: none;
$btn-text-transform: uppercase;
$photo-h-transform: uppercase;
$photo-text-transform: none;

$main-background: #fff;
$btn-background: #81b3d2;
$text-background: #81b3d2;
$input-background: #f2f2f2;
$input-add-background: #e6e6e6;
$overflow-background: #f2f2f2;
$photo-descr-background: #f2f2f2;
$photo-descr-desktop-background: rgba(0,0,0,0.3);
$h-line-color: #e5e5e5;
$main-color: #333;
$h-color: #000;
$btn-color: #fff;
$text-color: #fff;
$photo-descr-desktop-color: #fff;
$error-color: #ff5c5c;

$tablet: "(min-width: 768px)";
$desktop: "(min-width: 1200px)";