.booking {
	padding: $mobile-padding;
	padding-top: 29px;
	padding-bottom: 49px;

	text-align: center;

	@media #{$tablet} {
		margin: 0 auto;
		padding: 56px 0 58px;
		width: 458px;
	}

	@media #{$desktop} {
		padding: 56px 0 66px;
	}
}

.booking__title {
	margin: 0 0 19px;

	font: 21px/26px $bold-font-family;
	text-transform: $h-text-transform;

	color: $h-color;

	@media #{$tablet} {
		margin-bottom: 30px;

		font-size: 30px;
	}
}

.booking__text {
	margin: 0 0 35px;

	font: 14px/24px $main-font-family;
	text-transform: $text-transform;

	@media #{$tablet} {
		margin-bottom: 42px;
	}

	@media #{$desktop} {
		margin-bottom: 48px;
	}
}

.booking__btn {
	display: block;

	font-size: 21px;
	text-decoration: none;
}
