.booking {
	padding: $mobile-padding;
	padding-top: 29px;
	padding-bottom: 49px;

	text-align: center;

	@media #{$tablet} {
		margin: 0 auto;
		padding: 56px 0 58px;
		width: 458px;
	}

	@media #{$desktop} {
		padding: 56px 0 66px;
	}
}

.booking__title {
	margin: 0 0 19px;

	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-transform: $h-text-transform;

	color: $h-color;

	@media #{$tablet} {
		margin-bottom: 30px;

		font-size: 30px;
	}
}

.booking__text {
	margin: 0 0 35px;

	font-size: 14px;
	line-height: 24px;
	text-transform: $text-transform;

	@media #{$tablet} {
		margin-bottom: 42px;
	}

	@media #{$desktop} {
		margin-bottom: 48px;
	}
}

.booking__btn {
	display: block;

	font-size: 21px;
	text-decoration: none;
}
