.btn {
	padding: 16px;

	font-size: 18px;
	line-height: 26px;
	font-weight: 700;
	text-transform: $btn-text-transform;

	background: $btn-background;
	color: $btn-color;
	border: none;

	outline: none;

	&:hover {
		background: $btn-background-hover;
	}

	&:active {
		background: $btn-background-active;
		color: $btn-color-active;
	}

	&:disabled {
		background: $btn-background-disabled;
	}
}