.causes-item {
	display: flex;
    flex-direction: column;
	padding-top: 39px;
	box-sizing: border-box;

	text-align: center;

	background: $text-background;
	color: $text-color;

	@media #{$tablet} {
		flex-direction: row;
		padding-top: 0;
	}

	&--reverse {
		@media #{$tablet} {
			flex-direction: row-reverse;
		}
	}
}

.causes-item__wrapper {
	padding: $mobile-padding;
	box-sizing: border-box;

	@media #{$tablet} {
		padding: 0 6%;
		width: calc(100% / 3);
	}

	@media #{$desktop} {
		padding: 0 5%;
	}
}

.causes-item__title {
	margin: 0 0 10px;

	@include h-font;
	text-transform: $h-text-transform;

	@media #{$tablet} {
		margin-top: 45px;

		font-size: $h-table-font-size;
	}

	@media #{$desktop} {
		margin-top: 52px;
		padding: 0 32px;
	}
}

.causes-item__number {
	margin: 0 0 16px;

	text-transform: $text-transform;

	@media #{$tablet} {
		margin: 0 0 21px;
	}
}

.causes-item__text {
	margin: 0 0 37px;

	text-transform: $text-transform;

	&--2 {
		@media #{$desktop} {
			margin: 0 8% 37px;
		}
	}
}

.causes-item__img {
	min-height: 260px;

	@media #{$tablet} {
		width: calc(100% / 3 * 2);
		min-height: 256px;
	}

	&--1 {
		background: $picture-background url("../img/photo-city@1x.jpg") 50% no-repeat;

		@media #{$retina} {
			background: $picture-background url("../img/photo-city@2x.jpg") 50% no-repeat;
			background-size: 520px auto;
		}

		@media #{$tablet} {

			@media #{$retina} {
				background-size: cover;
			}
		}
	}

	&--2 {
		background: $picture-background url("../img/photo-bridge@1x.jpg") 50% no-repeat;
	
		@media #{$retina} {
			background: $picture-background url("../img/photo-bridge@2x.jpg") 50% no-repeat;
			background-size: 520px auto;
		}

		@media #{$tablet} {
			@media #{$retina} {
				background-size: cover;
			}
		}
	}
}
