.copyright {
	@media #{$tablet} {
		width: calc(100% / 3);
		padding: 7px 0 0;
	}
}

.copyright__text {
	display: inline;

	font-size: 14px;
	line-height: 26px;
	font-style: normal;
	text-transform: uppercase;

	color: #000;
}

.copyright__link {
	display: inline-block;
    width: 42px;
    height: 42px;
    vertical-align: middle;

    font-size: 0;
}

.copyright__img {
	width: 42px;
    height: 42px;

    fill: $htmlacademy-logo-color;

    &:hover {
		fill: $htmlacademy-logo-color-hover;
    }

    &:active {
		fill: $htmlacademy-logo-color-active;
    }
}

