.feedback-header {
	padding: $mobile-padding;

	text-align: center;

	@media #{$tablet} {
	    padding: 38px 162px 0;
	}

	@media #{$desktop} {
		padding: 74px 380px 0;
	}
}

.feedback-header__title {
	margin: 0 0 26px;

	@include h-font;
	text-transform: $h-text-transform;

	color: $h-color;

	@media #{$tablet} {
		margin: 0 0 31px;

		font-size: 30px;
	}
}

.feedback-header__text {
	margin: 0 0 36px;

	line-height: 24px;
	text-transform: $text-transform;

	@media #{$tablet} {
	    margin: 0 0 73px;
	}

	@media #{$desktop} {
		margin: 0 0 59px;
	}
}