.feedback-form {

	&__item {
		padding: $mobile-padding;
		padding-top: 24px;

		border-top: 1px solid $h-line-color;
			
		&--person {
			@media #{$tablet} {
				width: 50%;
				@include box-sizing;
			}
		}

		&--contacts {
			@media #{$tablet} {
				width: 100%;
				@include box-sizing;
			}
		}

		&--radio {
			@media #{$tablet} {
				width: 50%;
			}
		}
	}

	&__title {
		float: left;
		margin: 0 0 27px;
		width: 100%;

		@include h-font;
		font-family: $bold-font-family;
		text-transform: $h-text-transform;
		text-align: center;

		color: $h-color;

		@media #{$tablet} {
			float: none;
		}
	}

	&__group {
		padding-bottom: 5px;
	}

	&__field {
		margin: 0 0 20px;

		@media #{$desktop} {
			@include clearfix();
		}
	}

	&__field--radio {
		margin: 23px 0 29px;
	}

	&__field--radio:last-child {
		margin-bottom: 45px;
	}

	&__field--sights {
		@media #{$tablet} {
			display: inline-block;
			width: calc(100% / 3);
			vertical-align: middle;
		}

		@media #{$desktop} {
			float: left;
			width: 25%;
		}
	}

	&__label {
		position: relative;

		padding-right: 19px;

		@include text-font;
		font-family: $main-font-family;
		text-transform: $text-transform;

		&--radio,
		&--checkbox {
			padding-left: 79px;

			@include h-font;
			font-family: $bold-font-family;
			text-transform: $label-text-transform;

			color: $h-color;
		}

		&--radio::before {
			position: absolute;
			top: -60%;
			left: 0;
			content: "";

			width: 56px;
			height: 56px;
			@include box-sizing;

			background: $input-background;
			border: 1px solid $input-background;
			border-radius: 50%;
		}

		&--checkbox::before {
			position: absolute;
			top: -60%;
			left: 0;
			content: "";

			width: 56px;
			height: 56px;
			@include box-sizing;

			background: $input-background;
			border: 1px solid $input-background;
			border-radius: 4px;
		}
	}

	&__label--phone {
		margin: 8px 0 15px;
	}

	&__label--email {
		margin: 0 0 15px;
	}

	&__input {
		padding: 22px;
		@include box-sizing;

		@include h-font;
		font-family: $bold-font-family;
		text-transform: $label-text-transform;

		background: $input-background;
		color: $h-color;
		border: none;

		outline: none;
	}

	&__input::-webkit-input-placeholder {
		@include h-font;
		font-family: $bold-font-family;
		text-transform: $label-text-transform;

		color: $h-color;

		opacity: 1;
		transition: opacity 0.5s ease;
	}

	&__input::-moz-placeholder {
		@include h-font;
		font-family: $bold-font-family;
		text-transform: $label-text-transform;

		color: $h-color;

		opacity: 1;
		transition: opacity 0.5s ease;
	}

	&__input:-moz-placeholder {
		@include h-font;
		font-family: $bold-font-family;
		text-transform: $label-text-transform;

		color: $h-color;

		opacity: 1;
		transition: opacity 0.5s ease;
	}

	&__input:-ms-input-placeholder {
		@include h-font;
		font-family: $bold-font-family;
		text-transform: $label-text-transform;

		color: $h-color;

		opacity: 1;
		transition: opacity 0.5s ease;
	}

	&__input:focus::-webkit-input-placeholder {
		opacity: 0;
		transition: opacity 0.5s ease;
	}

	&__input:focus::-moz-placeholder {
		opacity: 0;
		transition: opacity 0.5s ease;
	}

	&__input:focus:-moz-placeholder {
		opacity: 0;
		transition: opacity 0.5s ease;
	}

	&__input:focus:-ms-input-placeholder {
		opacity: 0;
		transition: opacity 0.5s ease;
	}

	&__input--phone {
		margin: 0 0 50px;
	}

	&__input--email {
		margin: 0 0 23px;
	}

	&__input--radio {
		display: none;
	}

	&__input--checkbox {
		display: none;
	}

	&__input--checkbox:checked + label::before {
		position: absolute;
		top: -60%;
		left: 0;
		z-index: 4;
		content: "";

		width: 56px;
		height: 56px;

		background-image: url("../../img/icon-tick.svg");
		background-position: center;
		background-repeat: no-repeat;
		-webkit-background-size: 22px 22px;
		background-size: 22px 22px;
	}

	&__input--textarea {
		margin: 0 0 51px;
		width: 100%;

		resize: none;
	}

	&__submit {
		margin: 0 0 47px;
		padding: $mobile-padding;
	}

	&__submit-btn {
		width: 100%;

		@media #{$tablet} {
			width: 50%;
		}
	}
}

.remove-after-flex {

	@media #{$tablet}{
		@include clearfix();
	}
}
