.form-popup { 
	position: absolute;
	top: 0;
	right: 0;
	z-index: 3;

	display: none;
	margin: 0;
	box-sizing: border-box;

	text-align: center;

	background: $main-background;
	box-shadow: 0 7px 15px rgba(0, 1, 1, 0.15);

	@media #{$tablet} {
		left: 50%;

		margin: 0 auto;

		transform: translate(-50%,0);
	}

	&--failure {
		padding: 38px 42px 36px;

		@media #{$tablet} {
			padding: 54px 42px 48px;
			width: 400px;
		}
	}

	&--success {
		padding-top: 42px;

		@media #{$tablet} {
			padding-top: 54px;
			width: 640px;
		}
	}
}

.form-popup-show {
	display: block;
}

.form-popup__title {
	margin: 0 0 26px;

	@include h-font;
	text-transform: $h-text-transform;

	color: $h-color;

	@media #{$tablet} {
		margin: 0 36px 26px;

		font-size: 30px;
		line-height: 40px;
	}
}

.form-popup__text {
    margin: 0 0 22px;

	line-height: 24px;
	text-transform: $text-transform;

	@media #{$tablet} {
		margin: 0 0 33px;
	}

	&--success {
		margin: 0 38px 33px;
	}
}

.form-popup__footer {
	margin-top: 10px;
	padding: 20px;

	background: $input-background;

	@media #{$tablet} {
		padding: 44px 90px;
	}
}

.form-popup__btn {
	&--failure {
		width: 180px;

		@media #{$tablet} {
			width: 272px;

			font-size: 21px;
		}
	}

	&--success {
		width: 100%;

		@media #{$tablet} {
			font-size: 21px;
		}
	}
}