.form-popup {
	padding-top: 50px;
	@include box-sizing;

	text-align: center;

	background: $main-background;
	border: 1px solid $main-background;

	@media #{$tablet} {
		margin: 0 auto;
	}

	&--failure {
		padding: 0 0 35px;

		@media #{$tablet} {
			width: 400px;
		}
	}

	&--success {
		@media #{$tablet} {
			width: 640px;
		}
	}

	&__title {
		margin: $mobile-padding;;
		margin: 0 0 40px;

		@include h-font;
		font-family: $bold-font-family;
		text-transform: $h-text-transform;

		color: $h-color;
	}

	&__text {
		margin: $mobile-padding;
		margin-bottom: 30px;

		@include text-font;
		font-family: $main-font-family;
		line-height: 24px;
		text-transform: $text-transform;
	}

	&__footer {
		margin-top: 10px;
		padding: $mobile-padding;;
		padding-top: 20px;
		padding-bottom: 20px;

		background: $input-background;
	}

	&__btn--failure {
		width: 180px;
	}

	&__btn--success {
		width: 100%;
	}
}