.form-popup {
	padding-top: 50px;
	box-sizing: border-box;

	text-align: center;

	background: $main-background;
	border: 1px solid $main-background;

	@media #{$tablet} {
		margin: 0 auto;
	}

	&--failure {
		padding: 0 0 35px;

		@media #{$tablet} {
			width: 400px;
		}
	}

	&--success {
		@media #{$tablet} {
			width: 640px;
		}
	}
}

.form-popup__title {
	margin: $mobile-padding;;
	margin: 0 0 40px;

	@include h-font;
	text-transform: $h-text-transform;

	color: $h-color;
}

.form-popup__text {
	margin: $mobile-padding;
	margin-bottom: 30px;

	line-height: 24px;
	text-transform: $text-transform;
}

.form-popup__footer {
	margin-top: 10px;
	padding: 20px;

	background: $input-background;
}

.form-popup__btn {
	&--failure {
		width: 180px;
	}

	&__btn--success {
		width: 100%;
	}
}