.gallery-group {

	@media #{$tablet} {
		display: flex;
    	flex-wrap: wrap;
		padding: $tablet-padding;
	}

	@media #{$desktop} {
		padding: 0;
	}
}

.gallery-group__item {
	margin: 0;
	padding: $mobile-padding;
	padding-top: 22px;
	padding-bottom: 16px;

	border-top: 1px solid $h-line-color;

	@media #{$tablet} {
		padding: 0;
		width: 50%;

		border-top: none;

		&:first-child {
			width: 100%;
		}

		&:first-child img {
			height: 400px;
		}
	}

	@media #{$desktop} {
		position: relative;

		width: calc(100% / 3);
	}
}

.gallery-group__item-link img {
	display:block;
	margin: 0;
	padding: 0;
	width: 280px;
	height: 280px;

	@media #{$tablet} {
		margin: 0;
		width: 100%;
		height: 267px;
	}
}

.gallery-group__item-caption {
	display: flex;
	flex-direction: column;

	@media #{$tablet} {
		flex-direction: row;
		justify-content: space-between;
		margin: 0;
		padding: 12px 20px 7px;
		width: 100%;
		box-sizing: border-box;

		background: $photo-descr-background;
	}

	@media #{$desktop} {
		position: absolute;
		bottom: 0;
		z-index: 3;

		background: $photo-descr-desktop-background;
	}
}

.gallery-group__item-descr {
	padding-top: 12px;

	@media #{$tablet} {
		padding-top: 0;
		width: 70%;

		text-align: left;
	}
}

.gallery-group__item-title {
	margin: 0;
	padding-top: 4px;

	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	text-transform: $photo-h-transform;
		
	color: $h-color;

	@media #{$desktop} {
		color: $photo-descr-desktop-color;
	}
}

.gallery-group__item-author {
	margin: 0 0 9px;

	font-size: 14px;
	line-height: 24px; 
	text-transform: $photo-text-transform;

	color: $main-color;

	@media #{$desktop} {
		color: $photo-descr-desktop-color;
	}
}

.gallery-group__item-likes {
	position: relative;

	padding-left: 36px;

	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
		
	color: $h-color;

	@media #{$tablet} {
		align-self: center;
		padding-left: 3px;
		width: 17%;

		text-align: right;
	}

	@media #{$desktop} {
		color: $photo-descr-desktop-color;
	}
}

.gallery-group__img-likes {
	position: absolute;
	bottom: 6px;
	left: 0;
	z-index: 3;

	width: 22px;
	height: 20px;

	fill: $likes-color-mobile;

	@media #{$desktop} {
		fill: $likes-color-desktop;
	}
}