.gallery-group {
	&__item {
		margin: 0;
		padding: 22px 0 23px;

		border-top: 1px solid $h-line-color;
	}

	&__item-link img {
		margin: 0 0 22px;
		width: 280px;
		height: 280px;
	}

	&__item-title {
		margin: 0 0 15px;

		font: 14px/24px $bold-font-family;
		text-transform: $photo-h-transform;
		
		color: $h-color;
	}

	&__item-author {
		margin: 0 0 21px;

		font: 14px/24px $main-font-family;
		text-transform: $photo-text-transform;

		color: $main-color;
	}

	&__item-likes {
		font: 14px/24px $bold-font-family;
		
		color: $h-color;
	}
}