.intro {
	&__title {
		margin-top: 44px;

		@include h-font;
		font-family: $bold-font-family;
		text-transform: $h-text-transform;

		color: $h-color;
	}

	&__text {
		margin: 38px 0 34px;

		@include text-font;
		font-family: $main-font-family;
		text-transform: $text-transform;
	}
}