.main-nav {
	display: block;
}

.main-nav-hide {
	display: none;
}

.main-nav__list {
	margin: 0;
	padding: 0;

	list-style: none;

	font-size: 0;
}

.main-nav__item {
	position: relative;
	padding: 7px 0;
	box-sizing: border-box;

	text-align: center;

	background: $btn-background;
	border-top: 1px solid #9ac2db;
	border-bottom: 1px solid #678fa8;

	&:hover {
		background: $btn-background-hover;
	}

	&:active {
		background: $btn-background-active;
	}

	@media #{$tablet} {
		display: inline-block;
		padding: 13px 0;
		width: 20%;
		vertical-align: middle;

		background: $main-background;
		border-top: 1px solid $main-background;
		border-bottom: 1px solid $main-background;

		&:nth-child(2) {
			margin-right: 20%;
		}

		&:hover {
			background: $main-background;
		}

		&:active {
			background: $main-background;
		}
	}
}

.main-nav__item-cross {
	position: absolute;
	top: 50%;
	right: 20px;
	z-index: 2;
	content: "";

	display: block;
	width: 22.199px;
	height: 22.199px;
			
	fill: #fff;

	transform: translate(0,-50%);
	cursor: pointer;

	@media #{$tablet} {
		display: none;
	}
}

.main-nav__link {
	font-size: 18px;
	line-height: 40px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;

	color: $btn-color;

	&:active {
		color: $btn-color-active;
	}

	@media #{$tablet} {
		font-size: 14px;
		line-height: 26px;

		color: $h-color;

		&:hover {
			color: $main-nav-link-hover;
		}

		&:active {
			color: $main-nav-link-active;
		}
	}

	&--current {
		@media #{$tablet} {
			color: $main-nav-link-current;
			
			&:hover {
				color: $main-nav-link-current-hover;
			}

			&:active {
				color: $main-nav-link-current-active;
			}
		}
	}
}

.main-nav__toggle {
	display: none;
	margin: 17px 20px 17px 0;
	width: 22.928px;
	height: 21.982px;

	font-size: 0;

	fill: #81b3d2;
	border: none;

	cursor: pointer;

	@media #{$tablet} {
		display: none;
	}
}

.main-nav__toggle-vis {
	display: block;
}