.page-footer {
	display: flex;
    flex-direction: column;

	padding: 26px 0 22px;

	text-align: center;

	background: #fefefe;

	@media #{$tablet} {
		flex-direction: row;

		padding: 36px 0 0;
		min-height: 120px;
		box-sizing: border-box;
	}
}

.page-footer__hashtag {
	display: block;
	margin: 0 0 36px;

	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;

	color: #000;

	@media #{$tablet} {
		margin: 10px 0 0;
		width: calc(100% / 3);
	}
}

.page-footer__social {
	margin: 0 0 36px;

	@media #{$tablet} {
		width: calc(100% / 3);
	}
}