.page-footer {
	padding: 31px 0 36px;

	text-align: center;

	background: #fefefe;

	@media #{$tablet} {
		@include clearfix();

		padding: 36px 0 0;
		min-height: 120px;
		@include box-sizing;
	}

	&__hashtag {
		display: block;
		margin: 0 0 42px;

		font: 21px/26px $bold-font-family;
		text-transform: uppercase;
		text-decoration: none;

		color: #000;

		@media #{$tablet} {
			float: left;
			margin: 15px 0 0;
			width: calc(100% / 3);
		}
	}

	&__social {
		margin: 0 0 51px;

		@media #{$tablet} {
			float: left;
			width: calc(100% / 3);
		}
	}
}