.service-item {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;

	@media #{$tablet} {
		flex-direction: column;
		width: calc(100% / 3);
	}

	&--white {
		margin-bottom: 28px;
		padding: $mobile-padding;
		padding-left: 70px;

		@media #{$tablet} {
			padding: 125px 0 0;

			text-align: center;
			&:first-child {
				order: 1;
			}

			&:nth-child(2) {
				order: 3;
			}

			&:nth-child(3) {
				order: 2;
			}
		}

		@media #{$desktop} {
			padding: 125px 50px 0;
		}
	}

	&--gray {
		padding: 26px 16px;

		text-align: center;

		border-bottom: 1px solid #d6d6d6;

		@media #{$tablet} {
			padding: 44px 0;

			border-bottom: none;
		}

		@media #{$desktop} {
			padding: 44px 63px 63px;
		}
	}

	&--gray:last-child {
		border-bottom: none;
	}
}

.service-item__title {
	position: relative;

	margin: 0 0 14px;

	@include h-font;
	text-transform: $h-text-transform;

	color: $h-color;

	@media #{$tablet} {
		padding: 0 20%;
		margin: 0 0 21px;

		font-size: $h-table-font-size;
	}

	&--gray {
		margin-bottom: 9px;

		@media #{$desktop} {
			padding: 0 60px;
		}
	}
}

.service-item__img {
	position: absolute;
	top: -11px;
	left: 0;
	z-index: 3;
	content: "";
				
	margin-left: -30px;
	width: 40px;
	height: 40px;

	fill: #81b3d2;

	transform: translate(-50%,0);

	@media #{$tablet} {
		top: -64px;
		left: 50%;

		margin-left: -40px;
		width: 80px;
		height: 80px;

		transform: translate(0,-50%);
	}

	&--house {
		width: 40px;
		height: 38px;

		@media #{$tablet} {
			width: 80px;
			height: 75px;
		}
	}

	&--souvenir {
		width: 38px;
		height: 38px;

		@media #{$tablet} {
			width: 76px;
			height: 74px;
		}
	}

	&--food {
		width: 36px;
		height: 46px;

		@media #{$tablet} {
			width: 76px;
			height: 78px;
		}
	}
}

.service-item__text {
	margin: 0;

	text-transform: $text-transform;

	@media #{$tablet} {
		margin: 0 auto;
		width: 64%;
	}

	@media #{$desktop} {
		width: 100%;
	}
}
