.social-btn {
	display: inline-block;
	margin-right: 2px;
	width: 46px;
	height: 48px;
	vertical-align: middle;
	
	font-size: 0;

	background: $social-btn-background;

	&:last-child {
		margin-right: 0;
	}

	&-twitter {
		margin: 15px auto 0;
		width: 19px;
		height: 19px;

		fill: $social-btn-color;

		&:active {
			fill: $social-btn-color-active;
		}
	}

	&-facebook {
		margin: 15px auto 0;
		width: 19px;
		height: 19px;

		fill: $social-btn-color;

		&:active {
			fill: $social-btn-color-active;
		}
	}

	&-youtube {
		margin: 15px auto 0;
		width: 19px;
		height: 19px;

		fill: $social-btn-color;

		&:active {
			fill: $social-btn-color-active;
		}
	}

	&:hover {
		background: $social-btn-background-hover;
	}

	&:active {
		background: $social-btn-background-active;
	}
}

