.video {
	padding-top: 40px;
	padding-bottom: 115px;
	@include box-sizing;

	text-align: center;

	border-top: 1px solid $h-line-color;

	@media #{$tablet} {
		border-top: none;
	}

	&__title {
		padding: $mobile-padding;
		margin: 0 0 38px;

		@include h-font;
		font-family: $bold-font-family;
		text-transform: $h-text-transform;

		color: $h-color;
	}

	&__text {
		padding: $mobile-padding;
		margin: 0 0 40px;

		@include text-font;
		font-family: $main-font-family;
		text-transform: $text-transform;
	}

	&__image {
		margin: 0;
		width: 320px;
		height: 201px;
	}
}